<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span
			class="app-title"
			[routerLink]="['/posts']"
		>
			<i class="fa fa-product-hunt fa-2x"></i>
			Post Manager
		</span>

		<div class="app-author">
			<span class="app-author-name">by David Olivé</span>
			<span class="app-author-links">
				<i
					class="fa fa-linkedin fa-1x"
					(click)="openWindow('https://www.linkedin.com/in/davidolivefarga/')"
				></i>
				<i
					class="fa fa-github fa-1x"
					(click)="openWindow('https://github.com/davidolivefarga')"
				></i>
			</span>
		</div>
	</mat-toolbar-row>
</mat-toolbar>