@import '_constants';

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 4rem;
	.not-found-image {
		width: 10rem;
	}
	.not-found-title {
		font-weight: bold;
		font-size: $font-size-big;
	}
	.not-found-message {
		text-align: center;
	}
}
